html {
  position: relative;
  min-height: 100%;
}
body {
  /* The html and body elements cannot have any padding or margin. */
  padding: 0 0;
  background-image: url("../img/wood _texture536.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30% 20%; 
  font-family: 'Lobster', Georgia, Times, serif;
  color: #ffffff;
  margin-bottom: 60px;
}

/* Set the fixed height of the footer here */
#footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000000;
}


.head , .head1, .head_xs, .head2, .head_xs2{
	font-family: 'Lobster', Georgia, Times, serif;
    background: #4D8050; 
    display: block; 
    color: #ffffff;
    text-align: center;
}
.h3head {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.head{
    padding: 5px 5px;
    font-size: 50px; 
    line-height: 80px;     
}

.head_xs{
    padding: 2px 2px;
    font-size: 28px; 
    line-height: 40px;     
}

.head_xs2{
    padding: 2px 2px;
    font-size: 25px; 
    line-height: 40px;     
}

.head1 {

	padding: 5px 5px;
    font-size: 40px; 
    line-height: 50px;
    text-align: center;


}

.head2 {

	padding: 2px 2px;
    font-size: 30px; 
    line-height: 50px;

}

.list {

	font-size: 20px;
}

.para {
	font-family: 'Cabin', Helvetica, Arial, sans-serif; 
	font-size: 20px; line-height: 30px; 
	color: #ffffff;
	background: #4D8050; 
	display: inline; 
	font-weight: bold; 
	padding: 5px 5px;
	text-align: justify;
}

.para2 {
	font-family: 'Cabin', Helvetica, Arial, sans-serif; 
	font-size: 15px; line-height: 20px; 
	color: #ffffff;
	font-weight: bold; 
	margin-left: 20px;
}

.para3 {

	font-family: 'Cabin', Helvetica, Arial, sans-serif; 
	font-size: 20px;
	line-height: 25px; 
	color: #ffffff;
	font-weight: bold; 
	padding: 5px 5px;
	margin-left: 20px;
}



}


ul.unstyled {

	list-style: none;
	padding: 0;


}

ul.unstyled1 {
	list-style: none;
	padding: 0;
}

.messageBox {
	height: 200px;
}